<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registro de Locatário</title>
</head>
<body>
	
	<h1 layout:fragment="header">
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<img src = "https://drive.google.com/u/3/uc?id=1NQUrs0Snv1S6OTDz6GY5MNmUtdBrgaXp&export=download" width="100" height="100" class="d-inline-block align-top" alt="">	
	
 

	<br>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="100" height="100" class="d-inline-block align-top" alt=""> </a>
	<a> <img src = "https://cosama.vteximg.com.br/arquivos/ids/165368-1000-1000/spray_762_fundo_branco_p_luminosa_colorgin1.jpg?v=636748746268500000" width="75" height="100" class="d-inline-block align-top" alt=""> </a>
	Registro de Locatário
	</br>
	
	</h1>
	
	<div layout:fragment="content">
	<div class="well bg-secondary">
	
	<h1>Formulário</h1>
    <form action="#" th:action="@{/locatarios/form}" th:object="${locatarios}" method="post">
      
      <br/>
	
	<div th:each = "m : ${msg}" class = "well"> 
	<span th:text = "${m}"> </span>
	</div>
	
		<br/>
		
    	<p>Nome: <input type="text" th:field="*{nome}" placeholder = "Insira o nome" /></p>
        <p>CPF: <input type="text" th:field="*{cpf}"placeholder = "Insira o CPF"  /></p>
        <p>Idade: <input type="text" th:field="*{idade}"placeholder = "Insira a idade"  /></p>

        <p><input type="submit" value="Registrar" class="btn btn-lg btn-success" /> 
        <span th:if="${estado == 'normal'}"> <a  th:href="@{/}" class="btn btn-lg btn-info"> Voltar </a></span>
	</div>
</body>
</html>